.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
  display: inline-block
  padding: 20px 60px
  color: black
  text-align: center
  font-size: 14px
  font-weight: 600
  text-transform: uppercase
  text-decoration: none
  white-space: nowrap
  background-color: white
  border-radius: 4px
  cursor: pointer
  box-sizing: border-box
  transition: all 0.2s ease

  &:hover,
  &:active,
  &:focus

    outline: 0
    transform: scale(1.01)
    transform: translateY(3px)

//Creating Custom Radio Button  
.radio-btn
  display: block
  position: relative
  cursor: pointer
  font-size: 22px
  user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -webkit-user-select: none

//We are hiding the browser's default radio button
.radio-btn input
  position: absolute
  top: 5px
  right: -4px
  opacity: 0
  cursor: pointer
  z-index: 1

//Creating a custom radio button
.radio
  position: absolute
  top: 0
  left: -14px
  height: 24px
  width: 24px
  background-color: #BABCBF
  border-radius: 50%

//On mouse over,add a grey background color
.radio-btn:hover input ~ .radio
  background-color: #5C6373

//When the radio button is checked, add a blue background
.radio-btn input:checked ~ .radio
  background-color: $btnclr

//Creating the indicator (the dot/circle -hidden when not checked)    
.radio:after
  content: ""
  position: absolute
  display: none

//Show the indicator when checked
.radio-btn input:checked ~ .radio:after
  display: block

//Styling the indicator
.radio-btn .radio:after
  top: 6px
  left: 6px
  height: 12px
  width: 12px
  border-radius: 50%
  background-color: #fff





















  

