#header
    position: relative
    height: 100vh

.wrapper
    background: url(../img/banner.svg) no-repeat
    background-size: cover
    height: 80vh

.main-nav
    display: flex
    margin-top: 20px

    li
        list-style: none

    li:first-child
        margin-right: auto   

    a
        display: block
        color: white
        border-radius: 2px
        padding: 1px 3px
        text-decoration: none
        font-weight: 600

    li:nth-child(n+2)
        text-transform: uppercase
        margin-right: 40px

.border-nav-tag
    border: 1.3px solid #ffffff 

.card
    display: flex
    justify-content: space-around
    position: absolute
    top: 55%
    width: 100%
    max-height: 250px
    height: 100%
    

    .card1
        position: relative
        background: #ffffff
        height: 100%
        width: 200px
        border: 0.5px solid
        box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5)
        
        h3
            text-align: center
            font-family: 'Roboto', sans-serif
            line-height: 0
            font-size: 20px
            
        p
            text-align: center
            font-family: 'Grenze', serif   
            font-weight: 400
            font-size: 15.5px
            line-height: 1.2em
            margin: 0 4px 0 4px

        span
            position: absolute
            bottom: 8px
            right: 4px
            margin-right: 3px
            font-family: 'Mali', cursive
            font-size: 12px

