//HEADER

#header
    position: relative
    min-height: 100vh
        
.wrapper
    background: url(../img/banner.svg) no-repeat
    background-size: cover
    height: 80vh
    @media screen and ( max-width:1024px  )
        height: 70vh
    @media screen and ( max-width: 860px )
        height: 65vh
    @media screen and ( max-width:804px  )
        height: 60vh    


#scrollDownBtn
   width: 6%
   position: absolute
   bottom: 8%
   left: 47%
   @media screen and ( max-width:804px  )
    display: none 

   svg
       display: block
       margin: 0 auto
                 

//MAIN

.main-wrapper
    
    width: 75%
    margin: 0 auto
    @media screen and ( max-width: 1024px )
        width: 100%
    @media screen and ( max-width:804px  )
        margin: 150px auto 0  



 
          
   