#hotel
    display: block
    width: 100%
    height: 470px
    position: relative
    @media screen and ( max-width:930px)
        height: 420px
    @media screen and ( max-width:804px)
        height: 380px
    @media screen and ( max-width: 658px)
        height: 340px
    @media screen and ( max-width: 560px )
        height: 310px
            
.hotels
    position: relative
    background: url("../img/blueClippedBackground.svg") no-repeat
    height: 400px
    background-size: 100% 280px
    @media screen and ( max-width: 930px )
        height: 350px
        background-size: 100% 230px
    @media screen and ( max-width:804px  )
        height: 320px
        background-size: 100% 200px   
    @media screen and ( max-width:658px  )
        background-size: 100% 180px
    @media screen and ( max-width: 568px )
        height: 290px
        background-size: 100% 170px
            
                 
            

    h2
        position: absolute
        top: 2%
        left: 20%
        color: #ffffff
        font-family: 'Roboto', sans-serif
        font-weight: 700
        font-style: italic
        font-size: 40px
        @media screen and ( max-width: 930px )
            left: 17%
        @media screen and ( max-width:  804px)
            font-size: 35px
            left: 13%
            margin-top: 20px
        @media screen and ( max-width: 658px )
            font-size: 30px
            left: 11%
            margin-top: 18px
        @media screen and ( max-width:568px  )
            font-size: 26px
            margin-top: 17px
        @media screen and ( max-width: 505px )
            left: 9%
            font-size: 24px


//Hotels

//1. Hotel 1        
.hotel1
    display: block
    width: 60%
    height: 60%
    background: #ffffff
    position: absolute
    top: 30%
    left: 20%
    border: 1px solid #000000
    box-shadow: 0 7px 7px -3px rgba(0,0,0,0.5 )
    @media screen and ( max-width: 930px )
        width: 66%
        height: 64%
        top: 27%
        left: 17%
    @media screen and ( max-width:804px  )
        width: 74%
        height: 60%
        top: 25%
        left: 13%
    @media screen and ( max-width: 658px )
        width: 78%
        height: 54%
        left: 11%
        top: 23%
    @media screen and ( max-width: 568px )
        height: 58%
    @media screen and ( max-width: 505px )
        width: 82%
        left: 9%

            
    
    img
        width: 50%
        height: 100%
        float: left
        
    .hotel1-desc
        width: 50%
        float: left
            

        h3
            margin: 5px auto 0
            text-align: center
            font-size: 26px
            font-family: $roboto
            text-decoration: underline
            @media screen and ( max-width: 930px )
                font-size: 22px
            @media screen and ( max-width: 804px )
                font-size: 20px
                margin: 4px auto 0
            @media screen and ( max-width: 658px )
                font-size: 18px
            @media screen and ( max-width:505px)
                font-size: 16x   

       
.hotel2
    display: none
   
.hotel3
    display: none

.desc1
    display: flex
    justify-content: center
    margin: 1px auto
    h4
        font-size: 19px
        margin: 0
        font-family: $roboto
        font-weight: 600
        @media screen and ( max-width: 930px )
            font-size: 17px
        @media screen and ( max-width: 804px )
            font-size: 16px
        @media screen and ( max-width: 658px )
            font-size: 14px
  
            
    p
        margin: 4px 0 0 4px
        font-family: $greenzy
        font-size: 16px
        font-weight: 400
        @media screen and ( max-width: 930px )
            font-size: 15px
            margin: 3px 0 0 3px
        @media screen and ( max-width: 804px )
            font-size: 14px
            margin: 2px 0 0 3px
        @media screen and ( max-width: 658px )
            font-size: 13px
            margin-top: 1px
       
                
                
    input
        border: 0 
        border-bottom: 1px solid black
        width: 40px  
        margin-left: 4px
             
    input:focus
        outline: none     

.atc-btn
    padding: 0
    background: #0583F2
    width: 80%
    margin: 5% 10% 0 10%
    background-color: rgb(39, 63, 173)
    


    .atc
        display: flex
        padding: 8px 15px
        justify-content: center
        @media screen and ( max-width: 568px )
            padding: 6px 13px
       
            
        p
            font-size: 18px
            margin: 7px 0
            font-weight: 500
            color: $white
            @media screen and ( max-width: 930px )
                font-size: 17px
                margin: 6px 0
            @media screen and ( max-width: 804px )
                font-size: 15px
                margin: 5px 0
                font-weight: 400
            @media screen and ( max-width:658px)
                font-size: 13px
           
                    
                    
        img
            width: 25px
            height: 25px
            margin: 5px 0 0 6px
            @media screen and ( max-width: 930px )
                width: 23px
                height: 23px
            @media screen and ( max-width: 804px )
                width: 20px
                height: 20px
                margin-top: 4px
            @media screen and ( max-width: 658px )
                width: 18px
                height: 18px
           
#search-hotels
    position: absolute
    left: 20%
    bottom: 4%
    display: flex
    flex-wrap: nowrap
    justify-content: center
    width: 60%
    @media screen and ( max-width: 930px )
        width: 66%
        left: 17%
    @media screen and ( max-width:804px  )
        width: 74%
        left: 13%
        bottom: 6%
    @media screen and ( max-width: 658px )
        width: 78%
        left: 11%
        bottom: 7% 
    @media screen and ( max-width: 505px )
        width: 82%
        left: 9%

    input
        width: 65%
        &:focus
            outline: none       
    button
        width: 35%
        padding: 5px 0
        background-color: $btnclr
        @media screen and ( max-width:720px )
            padding: 4px 0

#search-hotel-btn
    display: grid
    grid-template-columns: repeat(2,auto)
    justify-content: center
    align-items: center

    p
        margin: 0
        color: $white
        font-family: sans-serif
        font-size: 16px
        @media screen and ( max-width: 804px )
            font-weight: 400
            font-size: 15px
        @media screen and ( max-width:768px  )
            font-size: 14px
        @media screen and ( max-width:560px  )
            font-size: 12px        
    img
        width: 25px
        height: 35px
        @media screen and ( max-width: 768px )
            width: 22px
            height: 32px
        @media screen and ( max-width:560px  )
            width: 20px
            height: 20px
                                                      