.main-nav
    display: flex
    margin-top: 20px
    @media screen and ( max-width: 530px )
        margin-top: 10px
    @media screen and ( max-width: 450px)
        padding-left: 20px    
    .logo
        margin-right: auto 
        @media screen and ( max-width: 710px )
            width: 160px
            height: 40px
        @media screen and ( max-width:470px  )
            width: 140px    
            height: 30px
        @media screen and ( max-width:750px  )
            margin: 0 auto      
    li
        list-style: none

    .nav-toggle
        display: none
        @media screen and ( max-width: 750px )
            margin-top: 15px
        @media screen and ( max-width: 710px )
            margin-top: 10px 
        @media screen and ( max-width: 470px )
            margin-top: 7px       
                  
    .responsive-nav
        display: flex
        .nav-links
            text-transform: uppercase
            margin-top: 14px 
            margin-right: 40px
            @media screen and ( max-width:1024px  )
                margin-right: 20px 
            @media screen and ( max-width:860px  )
                margin-top: 20px
                margin-right: 17px
            a
                border: 1.3px solid #ffffff
                display: block
                color: white
                border-radius: 2px
                padding: 1px 3px
                text-decoration: none
                font-weight: 700
                @media screen and ( max-width:1024px  )
                    font-size: 13px
                    padding: 1px 1.5px
                @media screen and ( max-width:860px  )
                    font-size: 10px
            a:hover,a:active
                color: $btnclr     
                
    .shopping-cart
        margin-top: 9.2px
        margin-right: 40px
        @media screen and ( max-width:1024px  )
            margin-right: 20px 
        @media screen and ( max-width:860px  )
            margin-right: 17px 
        @media screen and ( max-width: 470px )
            margin-top: 5px
        a svg
            @media screen and ( max-width: 710px )
                height: 25px    
                width: 25px   
            @media screen and ( max-width: 470px )
                height: 20px
                width: 20px
            
    //Responsive Nav Styling and Nav Toggle
    @media screen and ( max-width: 750px )
        .responsive-nav
            height: 0%
            width: 0%
            position: absolute
            top: 0
            left: 0
            flex-flow: column nowrap
            justify-content: center
            align-items: center
            text-align: center
            background:#fff      //#0597F2
            z-index: 1
            transition: width 500ms linear, height 500ms linear
            -moz-transition: width 500ms linear, height 500ms linear
            -o-transition: width 500ms linear, height 500ms linear
            -webkit-transition: width 500ms linear, height 500ms linear
            pointer-events: none
        .responsive-nav .nav-links
            display: block
            width: 100%
            opacity: 0
        .responsive-nav .nav-links a
            border: 0
            padding: 20px
            font-size: 18px
            color: #000000
            &:hover,&:active
                background: #eeeeee
                transform: scale(1.3)
        .responsive-nav.unfold
            position: fixed
            width: 100%
            height: 100%
            pointer-events: all
        .nav-links:nth-child(1)
            transition: all 400ms ease 20ms
            -moz-transition: all 400ms ease 20ms
            -o-transition: all 400ms ease 20ms
            -webkit-transition: all 400ms ease 20ms
        .nav-links:nth-child(2)
            transition: all 400ms ease 40ms
            -moz-transition: all 400ms ease 40ms
            -o-transition: all 400ms ease 40ms
            -webkit-transition: all 400ms ease 40ms
        .nav-links:nth-child(3)
            transition: all 400ms ease 60ms
            -moz-transition: all 400ms ease 60ms
            -o-transition: all 400ms ease 60ms
            -webkit-transition: all 400ms ease 60ms
        .nav-links:nth-child(4)
            transition: all 400ms ease 80ms
            -moz-transition: all 400ms ease 80ms
            -o-transition: all 400ms ease 80ms
            -webkit-transition: all 400ms ease 80ms
        .nav-links:nth-child(5)
            transition: all 400ms ease 100ms
            -moz-transition: all 400ms ease 100ms
            -o-transition: all 400ms ease 100ms
            -webkit-transition: all 400ms ease 100ms
        .nav-links.visible
            opacity: 1                 
        .nav-toggle
            display: block
            z-index: 2
        .nav-toggle.fixed
            position: fixed    
        .nav-toggle a svg g rect
            transition: all 400ms linear 100ms
            -moz-transition: all 400ms linear 100ms
            -o-transition: all 400ms linear 100ms
            -webkit-transition: all 400ms linear 100ms
        .nav-toggle a svg g rect.hamburger-color          //Neeed to change
            fill: #000000  
            

              

